.left {
    margin-left: 14%;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  #backdrop {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Sorts Mill Goudy', serif;
    color: darkblue;
  }

  @media screen and (max-width:980px) {
    .left {
      margin-left: 14%;
    }
  
    #bg {
      position: fixed; 
      top: 0; 
      left: 0; 
        
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }
  }

  @media screen and (max-width:730px) {
    .left {
      margin-left: 12%;
    }
  
    #bg {
      position: fixed; 
      top: 0; 
      left: 0; 
        
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }
  }

  @media screen and (max-width:500px) {
    .left {
      margin-left: -1%;
    }
  
    #bg {
      position: fixed; 
      top: 0; 
      left: 0; 
        
      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
    }
  }